<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	<add key="ServcesName1" value="iphlpsvc" />
	<add key="AppName1" value="testhbasewinform" />
	<add key="AppPath1" value="E:\mysoft\CSharpReadHbase-master\testhbasewinform\bin\Debug\testhbasewinform" />
	<add key="App1Count0" value="30" />
	<add key="App1DayRestartHour" value="21" />
	<add key="App1DayRestartMinute" value="44" />
	<add key="Mydate" value="2020年6月2日" />
	<add key="Window_Caption" value="服务器连通测试" />
    <add key="Rest_Url" value="http://10.157.3.32:9000/tobaccoMesClient/sendMsg/send" />
    <add key="Rest_Url1" value="http://10.157.37.182:9100/sendMsg/send" />
    <add key="Target_Phone1" value="13910000000" />
    <add key="Target_Phone2" value="13510000000" />
    <add key="Target_Ip_Count" value="3" />
    <add key="UpdateInterval" value="2000" />
    <add key="Target_Ip_1" value="180.97.33.107" />
    <add key="Target_Host_1" value="www.baidu.com 百度      " />
    <add key="Target_Port_1" value="6000" />
    <add key="Target_Ip_2" value="219.138.21.63" />
    <add key="Target_Host_2" value="www.ifeng.com 凤凰网     " />
    <add key="Target_Port_2" value="6000" />
    <add key="Target_Ip_3" value="203.208.41.88" />
    <add key="Target_Host_3" value="www.google.cn  谷歌     " />
    <add key="Target_Port_3" value="6000" />
    <add key="Target_Ip_4" value="119.97.155.5" />
    <add key="Target_Host_4" value="www.sohu.com  搜狐       " />
    <add key="Target_Port_4" value="6000" />
    <add key="Target_Ip_5" value="192.168.0.1" />
    <add key="Target_Host_5" value="192.168.0.1 测试       " />
    <add key="Target_Port_5" value="6000" />
    <add key="Target_Url_Count" value="3" />
    <add key="Target_Url_1" value="http://www.baidu.com" />
    <add key="Target_Url_desc_1" value="baidu首页" />
    <add key="Target_Url_2" value="http://www.ifeng.com" />
    <add key="Target_Url_desc_2" value="凤凰网首页" />
    <add key="Target_Url_3" value="http://www.google.cn" />
    <add key="Target_Url_desc_3" value="谷歌首页" />
    <add key="Target_Url_4" value="http://192.168.0.1" />
    <add key="Target_Url_desc_4" value="top首页" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>