<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.2.3" targetFramework="net461" />
  <package id="IronPython" version="2.7.10" targetFramework="net461" />
  <package id="kafka-net" version="0.9.0.65" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="4.5.1" targetFramework="net461" />
  <package id="Redis" version="1.0.3" targetFramework="net461" />
  <package id="ServiceStack.Common" version="4.0.62" targetFramework="net461" />
  <package id="ServiceStack.Interfaces" version="4.0.62" targetFramework="net461" />
  <package id="ServiceStack.Redis" version="4.0.62" targetFramework="net461" />
  <package id="ServiceStack.Text" version="4.0.62" targetFramework="net461" />
</packages>